

.CesaSetumei{
   
    font-weight: bold;
}

.Cesa_1line{
    margin-top: 10px;
}

.header{
    background-color: rgb(207, 255, 255);
}

.Designs{
 
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(71, 255, 227) 50%, rgb(238, 248, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:3s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  
  @keyframes slide {
    0% {
      transform:translateX(-25%)rotateZ(0deg);
    }
    50%{
        transform: rotateZ(25deg);
    }
    100% {
      transform:translateX(25%)rotateZ(0deg);
    }
  }